<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<base th:href="${application.path}" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content="/" />
	<meta name="author" content="" />
	<title>基于Spring Cloud 微服务</title>
	<link rel="stylesheet"
	th:href="${application.path}+'/css/bootstrap2.min.css'" />
	<link rel="stylesheet"
	th:href="${application.path}+'/css/bootstrap-theme.css'" />
	<link rel="stylesheet"
	th:href="${application.path}+'/css/ie10-viewport-bug-workaround.css'" />
	<script th:src="${application.path}+'/js/jquery-2.1.4.min.js'"></script>
	<script th:src="${application.path}+'/js/bootstrap.js'"></script>
	<script th:src="${application.path}+'/js/ie-emulation-modes-warning.js'"></script>
	<script th:src="${application.path}+'/js/docs.min.js'"></script>
	<script type="text/javascript"
	th:src="${application.path}+'/commonJs/commonJs.js'"></script>
</head>

<body>
	<header class="navbar navbar-static-top bs-docs-nav" id="top">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only" id="navigation"> <!-- 导航条 -->
					</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" id="main"> <!-- 微服务 -->
				</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav" id="nav-bar">
						<!-- <li class="active"><a href="./">首页</a></li>
					<li><a href="#about">微服务介绍</a></li>
					<li><a href="#contact">页面展示</a></li>
					<li><a href="#contact">总结</a></li> -->
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
</header>
<div class="container-fluid">

	<div id="carousel-example-generic" class="carousel slide"
	data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0"
		class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img class="img-responsive"
			th:src="${application.path}+'img/timg0.jpg'" alt="First slide" />
		</div>
		<div class="item">
			<img class="img-responsive"
			th:src="${application.path}+'img/timg1.jpg'" alt="Second slide" />
		</div>
		<div class="item">
			<img class="img-responsive"
			th:src="${application.path}+'img/timg.jpg'" alt="Third slide" />
		</div>
				<!-- 	<div class="item">th:attr="data-src=${application.path}+'img/timg.jpg'"
					<img data-src="holder.js/900x200/auto/#555:#333/text:Third slide"
						alt="Third slide" />
					</div> -->
				</div>
				<a class="left carousel-control" href="#carousel-example-generic"
				role="button" data-slide="prev"> <span
				class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a> <a class="right carousel-control" href="#carousel-example-generic"
			role="button" data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<h2 id="thumbnails-custom-content">搞笑图片</h2>
		<!-- 		<p>添加一点点额外的标签，就可以把任何类型的 HTML 内容，例如标题、段落或按钮，加入缩略图组件内。</p>
		-->
		<div class="bs-example"
		data-example-id="thumbnails-with-custom-content">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail" onclick="doUrl('card.gif')">
					<img src="./plaies/card.gif" alt="Generic placeholder thumbnail"
					style="width: 100%; height: 200px">
					<div class="caption">
						<h3>工作证件</h3>
						<p><pre>哈哈！！！ 试试看.</pre></p>

					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail" onclick="doUrl('zmdemo.gif')">
					<img src="./plaies/zmdemo.gif" style="width: 100%; height: 200px"
					alt="Generic placeholder thumbnail">
					<div class="caption">
						<h3>医院证明</h3>
						<p>
							<code>
								甲：你有病啊？<br>
								乙： 你有药啊？
							</code>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail" onclick="doUrl('mvdemo.gif')">
						<img src="./plaies/mvdemo.gif" style="width: 100%; height: 200px"
						alt="Generic placeholder thumbnail">
						<div class="caption">
							<h3>美女表白</h3>
							<p>
								<pre>.ヾ(≧O≦)〃嗷~</pre>
							</p>
							<!-- 		<p>
								<a href="#" class="btn btn-primary" role="button">Button</a> <a
									href="#" class="btn btn-default" role="button">Button</a>
								</p> -->
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
					<div class="thumbnail" onclick="doUrl('jhdemo.gif')">
							<img src="./plaies/jhdemo.gif" style="width: 100%; height: 200px"
							alt="Generic placeholder thumbnail">
							<div class="caption">
								<h3>结婚证</h3>

								<p>
									<pre>我们结婚吧！！！</pre>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
		</html>
<script>
	function doUrl (pic) {
		location.href='./playOne?picName='+pic;
	}
</script>