<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="description" content="/" />
<meta name="author" content="" />

<title>基于Spring Cloud 微服务</title>
<link rel="stylesheet" th:href="${application.path}+'/css/bootstrap2.min.css'" />
<link rel="stylesheet" th:href="${application.path}+'/css/bootstrap-theme.css'" />
<link rel="stylesheet" th:href="${application.path}+'/css/ie10-viewport-bug-workaround.css'" />
<script th:src="${application.path}+'/js/jquery-2.1.4.min.js'"></script>
<script th:src="${application.path}+'/js/bootstrap.js'"></script>
<script th:src="${application.path}+'/js/ie-emulation-modes-warning.js'"></script>
<script type="text/javascript" th:src="${application.path}+'/commonJs/commonJs.js'"></script>
</head>

<body>
	<header class="navbar navbar-static-top bs-docs-nav" id="top">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only" id="navigation"> <!-- 导航条 -->
						</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" id="main"> <!-- 微服务 -->
					</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav" id="nav-bar">
						<!-- <li class="active"><a href="./">首页</a></li>
					<li><a href="#about">微服务介绍</a></li>
					<li><a href="#contact">页面展示</a></li>
					<li><a href="#contact">总结</a></li> -->
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
	</header>
	<div class="container-fluid">
		<div class="bs-example" data-example-id="simple-jumbotron">
			<p id='temppic' th:text="${json.m_bg_img}" style="display: none;"></p>
			<!-- 			<div class="jumbotron" style="background-image: url(./img/main.jpg)">
 -->
			<div class="jumbotron" id="pic">
				<h1 th:text="${json?.m_title}" style="color: #2e41b8">Hello, world!</h1>
				<p th:text="${json?.m_content}" style="color: #2e41b4">This is a
					simple hero unit, a simple jumbotron-style component for calling
					extra attention to featured content or information.</p>
				<p>
					<a class="btn btn-primary btn-lg" th:href="${json?.m_bt_url}"
						th:attr="title=${json?.m_bt_desc}" role="button"
						th:text="${json?.m_bt_title}">Learn more</a>
				</p>
			</div>
		</div>

	</div>
</body>
</html>
<script>
	var url = $("#temppic").html();
	if (url !=='') {
		$("#pic").css('background-image', 'url('+url+')');
		//document.getElementById("pic").style.backgroundImage='url('+url+')';
		console.log( 'url('+url+')');
	} else {
		$("#pic").css('background-image', 'url(./img/main.jpg)');
	}
</script>
